*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5px;
    width:80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 25px;
    background-color: rgb(37, 37, 37);

}
.nav div{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    color: azure;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.nav a{
    text-decoration: none;
    color: azure;
    font-size: 20px;
}
.nav div:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.nav div.active{
    background-color: rgb(255, 255, 255);
    color: black;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width:100%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
}
#container *{
    margin: 0;
    padding: 10;
    margin: 10%;
    font-size: 25px;
}