body{
    background-image: url(sgs.png);
    background-size: cover;
}
.Heading{
    font-size: 30px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
}
.ezy__team9 {
    /* Bootstrap variables */
    --bs-body-color: #000000;
    --bs-body-bg: rgba(255, 255, 255, 0.551);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgba(13, 109, 253, 0.815);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-item-bg: #fffafa97;
    --ezy-item-shadow: 0px 4px 44px rgb(0, 0, 0);
  
    background: var(--bs-body-bg);
    overflow: hidden;
    padding: 60px 0;
  }
  
  @media (min-width: 768px) {
    .ezy__team9 {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__team9,
  .ezy__team9.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(129, 124, 124);
  
    /* Easy Frontend variables */
    --ezy-item-bg: #342e2e;
    --ezy-item-shadow: 0px 4px 44px rgb(255, 255, 255);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__team9,
  .ezy__team9.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #f9e7e7;
    --bs-body-bg: rgb(44, 44, 45);
  
    /* Easy Frontend variables */
    --ezy-item-bg: rgb(11, 23, 39);
    --ezy-item-shadow: none;
  }
  
  /* Dark Block Style */
  .dark .ezy__team9,
  .ezy__team9.dark {
    /* Bootstrap variables */
    --bs-body-color: #c12121;
    --bs-body-bg: rgb(0, 0, 0);
  
    /* Easy Frontend variables */
    --ezy-item-bg: rgb(12, 93, 224);
    --ezy-item-shadow: none;
  }
  
  .ezy__team9-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: var(--bs-body-color);
  }
  
  @media (min-width: 768px) {
    .ezy__team9-heading {
      font-size: 45px;
      line-height: 45px;
    }
  }
  
  .ezy__team9-sub-heading {
    font-size: 16px;
    line-height: 22px;
    color: var(--bs-body-color);
  }
  
  .ezy__team9-item {
    background-color: var(--ezy-item-bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--ezy-item-shadow);
    transition: transform 0.25s ease-in-out;
  }
  
  .ezy__team9-item:hover {
    transform: translateY(-5px);
  }
  
  .ezy__team9-item img {
    border-radius: 20px;
    padding: 2px;
    border-color: var(--ezy-theme-color) !important;
  }
  
  .ezy__team9-content * {
    color: var(--bs-body-color);
  }
  
  .ezy__team9-social-links a {
    display: inline-block;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, color 0.25s ease-in-out;
  }
  
  .ezy__team9-social-links a:hover {
    transform: translateY(5px);
    color: var(--bs-body-color);
    opacity: 1;
  }